.nav-bar {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.nav-bar a {
  display: block;
  background-color: azure;
  text-decoration: none;
  width: 100px;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
}